        <footer class="bg-dark text-white mt-5">
            <div class="container py-4">
              <div class="row">
                <div class="col-md-4">
                  <h5>Lorem Ipsum</h5>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus lacinia odio vitae.</p>
                </div>
                <div class="col-md-4">
                  <h5>Links</h5>
                  <ul class="list-unstyled">
                    <li><a href="#" class="text-white">Lorem link 1</a></li>
                    <li><a href="#" class="text-white">Lorem link 2</a></li>
                    <li><a href="#" class="text-white">Lorem link 3</a></li>
                 </ul>
                </div>
             <div class="col-md-4">
                  <h5>Social</h5>
                  <a href="#" class="text-white me-2"><i class="bi bi-facebook"></i> LoremFB</a><br>
                <a href="#" class="text-white me-2"><i class="bi bi-twitter"></i> LoremTW</a>
              </div>
             </div>
             <hr class="border-light">
             <p class="text-center mb-0">&copy; 2025 Lorem Ipsum Company. All rights reserved.</p>
            </div>
        </footer>
            <script src="/javascripts/bootstrap.bundle.min.js"></script>
    </body>
</html>