  <footer class="bg-dark text-white mt-auto">
    <div class="container py-4">
      <div class="row">
        <div class="col-md-4">
          <h5>Isaac's Wiki</h5>
          <p>Footer teste para maturizá-lo depois, site está sujeito a atualizações</p>
        </div>
        <div class="col-md-4">
          <h5>Links</h5>
          <ul class="list-unstyled">
            <li><a href="https://github.com/IsaacMaf" class="text-white">Meu Github</a></li>
            <li><a href="https://pt.wikipedia.org/wiki/Role-playing_game" class="text-white">Saiba Mais Sobre RPG!</a></li>
          </ul>
        </div>
        <div class="col-md-4">
          <h5>Social</h5>
          <a href="#" class="text-white me-2"><i class="bi bi-facebook"></i> TesteFB</a><br>
          <a href="#" class="text-white me-2"><i class="bi bi-twitter"></i> TesteTW</a>
        </div>
      </div>
      <hr class="border-light" />
      <p class="text-center mb-0">&copy; 2025 Lorem Ipsum Company. All rights reserved.</p>
    </div>
  </footer>

  <script src="/javascripts/bootstrap.bundle.min.js"></script>
</body>
</html>
