<%- include('partials/Fheader') %>

<h2>Perguntas Frequentes</h2>
      <ul>
        <li><strong>1: como posso ver seus personagens?</strong>
        R: Na aba tópicos é possível visualizá-los </li>
        <li><strong>2: Os links realmente funcionam?</strong>
        R: Sim! Agora os links estão funcionais, apenas os de facebook e twitter não.</li>
        <li><strong>3: que é RPG?</strong>
        R: basicamente um jogo de mesa onde pessoas se reúnem para se divertir com histórias em que elas podem fazer seus personagens e interagir com os outros como se fossem os próprios.</li>
         <li><strong>4: Ué, é só isso a descrição dos personagens?</strong>
        R: posteriormente, pretendo montar descrições mais elaboradas e um sistema de comentários via MongoDB, aguarde!</li>
      </ul>
    </div>
<%- include('partials/footer') %>