<%- include('partials/Fheader') %>

<h2>Perguntas Frequentes</h2>
      <ul>
        <li><strong>1: como posso ver seus personagens?</strong>
        R: Na aba tópicos é possível visualizá-los </li>
        <li><strong>2: Os links realmente funcionam?</strong>
        R: Não, mas posteriormente talvez possam!</li>
        <li><strong>3: que é RPG?</strong>
        R: basicamente um jogo de mesa onde pessoas se reúnem para se divertir com histórias em que elas podem fazer seus personagens e interagir com os outros como se fossem os próprios.</li>
        <li><strong>4: Lorem Ipsum?</strong>
        R: Lorem Ipsum dolor</li>
        <li><strong>5: Lorem Ipsum?</strong>
        R: Lorem Ipsum dolor</li>
        <li><strong>6: Lorem Ipsum?</strong>
        R: Lorem Ipsum dolor</li>
        <li><strong>7: Lorem Ipsum?</strong>
        R: Lorem Ipsum dolor</li>
        <li><strong>8: Lorem Ipsum?</strong>
        R: Lorem Ipsum dolor</li>
      </ul>
    </div>
<%- include('partials/footer') %>