<%- include('partials/header') %>
<h2>Sobre a wiki</h2>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed enim lorem, faucibus sollicitudin risus eget, congue rutrum mauris.
    Duis et arcu quam. Praesent quis lectus at elit vestibulum ultricies id sed turpis. Etiam ac sagittis lectus.
    Duis malesuada nunc ac nibh feugiat, eu placerat dui porttitor. Praesent vitae pellentesque elit. Vivamus sit amet sem sit amet libero 
    tincidunt auctor at non tellus. Nullam quis porta eros. Curabitur ligula eros, varius vitae fringilla nec, lobortis nec nunc. Nulla
    aoreet tempus aliquet. Nulla ante diam, volutpat vitae pulvinar ac, luctus a turpis. Nam commodo, nisl eu pretium porta, lectus urna
    finibus nunc, non ullamcorper erat tortor et libero. Nunc faucibus nisi nec dapibus interdum. Maecenas bibendum augue vel ipsum tempus

    Pellentesque laoreet velit ac mauris sodales ultrices. Fusce placerat sapien dolor, sit amet tincidunt libero lacinia eget. Nunc ac dapibus dui, eget scelerisque nulla. Vestibulum nec malesuada tellus. Maecenas ut neque non diam porta facilisis non non erat. In quis leo rhoncus risus feugiat tempor nec tempor massa. Proin congue turpis quis neque dapibus, id laoreet elit mattis. Curabitur sit amet nisl semper, mollis libero sed, efficitur tortor. Mauris maximus, velit sit amet commodo vulputate, nibh tortor placerat justo, sit amet convallis dui neque ut eros.
    Nunc porttitor hendrerit nisl, vitae rhoncus eros consectetur eu. Nullam id neque ultricies, lobortis nisi sollicitudin, eleifend orci.</p>
<%- include('partials/footer') %>