<%- include('partials/header') %>
<h2>Sobre a wiki</h2>
<p>Criar esse site foi uma das experiências mais legais que já tive. Ele nasceu da vontade de dar vida (digital, no caso) aos personagens que eu venho inventando há um tempo no universo do RPG — como Arc, Hartreus e Hyro. São personagens que foram crescendo na minha cabeça, nas mesas de jogo, e agora estão ganhando um cantinho especial só pra eles.

A wiki que estou montando é o coração desse projeto. Lá eu tenho colocado as histórias, características e as esquisitices (porque todo personagem de RPG tem umas) de cada um deles. Não falo sobre eles aqui, mas,se você quiser ver um pouco sobre eles, acho que vai gostar de conhecê-los na aba "tópicos".

Foi muito divertido montar tudo isso — da estrutura do site até o jeito de escrever os textos. E claro, nada está finalizado: ainda tem muito pra melhorar e muita coisa que quero adicionar. Mas isso faz parte. Então, se tiver um tempinho, dá uma olhada na wiki e me diz o que achou, pretendo adicionar abas de comentários pra isso. Espero que você curta tanto quanto eu curti criar!</p>
<%- include('partials/footer') %>