<%- include('partials/header') %>

<div class="container my-5">
  <h1 class="mb-4">Tópicos</h1>

  <div class="row g-4">
    <div class="col-md-4">
      <div class="card h-100">
        <img src="/images/arc.jpg" class="card-img-top" alt="Arc">
        <div class="card-body">
          <h5 class="card-title"><a href="/topicos/arc" class="text-decoration-none">Arc</a></h5>
          <p class="card-text text-muted small">Informações sobre o personagem Arc.</p>
        </div>
      </div>
    </div>
    
    <div class="col-md-4">
      <div class="card h-100">
        <img src="/images/hyro_takashima.jpg" class="card-img-top" alt="Hyro Takashima">
        <div class="card-body">
          <h5 class="card-title"><a href="/topicos/hyro" class="text-decoration-none">Hyro Takashima</a></h5>
          <p class="card-text text-muted small">Informações sobre Hyro Takashima.</p>
        </div>
      </div>
    </div>
    
    <div class="col-md-4">
      <div class="card h-100">
        <img src="/images/hartreus.jpg" class="card-img-top" alt="Hartreus">
        <div class="card-body">
          <h5 class="card-title"><a href="/topicos/hartreus" class="text-decoration-none">Hartreus</a></h5>
          <p class="card-text text-muted small">Informações sobre o personagem Hartreus.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<%- include('partials/footer') %>
