<%- include('../partials/Theader') %>

<div class="container my-5">
  <div class="row align-items-center">
    
    <!-- Coluna do texto -->
    <div class="col-md-8">
      <h1>Arc, a Pyroliana</h1>
      <p>
        Arc é uma alien que veio do planeta PLXNXTX-NXKX que "evolucionalmente" veio a ter três lados: o infernal, o glacial e o harmônico. Os habitantes
    deste astro se chamam nekopilianos, e cada um deles nasce com uma máscara que vai deixando o corpo deles ainda na adolescência, mas, como o planeta
    fica meio distante do seu sol, os anos também demoram, 1 NXKX-ano vale por 3 terrestres, e Arc possui 11 NXKX-aninhos(uma criança ainda), Arc veio para
    o planeta terra por uma série de fatores que desencadearam o teletransporte dela(ela lutou contra um usuário de criação que teletransportou ela por birra xd)
    Além disso, ela tem poder de fogo, sendo uma pyroliana. Quando coloca sua máscara, fica BEM mais forte.
    </p>

    <h2>itens e adicionais!</h2>
      <p>
        Arc tem uma máscara(sinistra :O) que ela usa pra se transformar e ficar ainda mais forte! Além disso, ela conseguiu um crânio de Krampus por conseguir derrotá-lo, com isso, também conseguiu um "familiar" Krampus bem enjoadinho que agora acompanha a equipe sombra. 
    </p>
    
    </div>

    <!-- Coluna da imagem -->
    <div class="col-md-4 text-center">
      <img src="/images/arcD.jpeg" alt="Hyro Takashima" class="img-fluid rounded shadow">
    </div>

  </div>
</div>

<%- include('../partials/footer') %>
