<%- include('../partials/Theader') %>

<div class="container my-5">
  <div class="row align-items-center">
    
    <!-- Coluna do texto -->
    <div class="col-md-8">
      <h1>Hartreus</h1>
      <p>
        Hartreus é um personagem criado para sessões do RPG Glory. Ele não é exatamente corajoso, mas encara a morte com outros olhos. 
        Misterioso e intimidador, suas habilidades fazem dele um membro valioso para qualquer grupo.
      </p>

      <h2>Itens e adicionais!</h2>
      <p>
        Hartreus está em busca de uma adaga para que possa fazer o ritual completo e enfim ficar com sua filha. 
        Meu personagem atualmente está preso em Arthenia e tem um celular e alguns trocados, por enquanto :D
      </p>
    </div>

    <!-- Coluna da imagem -->
    <div class="col-md-4 text-center">
      <img src="/images/Hartreus.jpeg" alt="Hartreus" class="img-fluid rounded shadow">
    </div>
  </div>
</div>

<%- include('../partials/footer') %>
