<%- include('../partials/Theader') %>

<div class="container my-5">
  <h1>Hyro Takashima</h1>
  <p>Hyro é meio que um "monge" que foi criado à margem da floresta. Lá, foi criado pelos pais, a mãe com trabalho doméstico e o pai treinando-o
    para caçar monstros e conseguir lidar com o mundo, caso saísse de casa. Ao completar cerca de 17 anos, deixou a família, foi em busca do reino
    de Hasmatt e, ao chegar lá, foi visto com maus olhos por ser da raça Banshee. Dali foi caçado por um caçador de recompensas, que posteriormente
    se tornou seu amigo, e encontrou um cara que se comportava como um animal, juntos sairam numa jornada maluca em que do completo nada se viram
    salvando um reino da raça demônio da extinção.
  </p>
</div>

<%- include('../partials/footer') %>